<div class="form container">
  <%= form_for @todo do |f| %>

    <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title,class: "form-control" %>
          
        </div>

    <div class="form-group">    
        <%= f.label :date, "Date" %>
        <%= f.text_field :date,class: "form-control" %>
          
        </div>

    <div class="form-group">    
        <%= f.label :description, "Description" %>
        <%= f.text_area :description,class: "form-control" %>
          
        </div>

    <%= f.submit %>

  <% end %>
  
</div>

  <% if @todo.errors.present? %>
  <ul>
    <% @todo.errors.each do |error, message| %>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
  <% end %>